# System
Thumbs.db
.DS_Store

# Dependency
node_modules

# Build
dist
coverage

# Debug
tsconfig.tsbuildinfo

# Docs
docs/.vitepress/cache
docs/.vitepress/dist

# Benchmarks
benchmarks/files
benchmarks/**/vendor
benchmarks/**/go.sum
benchmarks/**/composer.lock
benchmarks/**/Gemfile.lock
benchmarks/**/parsing-gofeed

# Development
plans
