name: Lint

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    # Disable for dependabot PRs due https://github.com/dependabot/dependabot-core/issues/11705.
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run Biome check
        run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

      - name: Run TypeScript check
        run: bunx tsc --noEmit

      - name: Validate PR commits
        run: |
          bunx commitlint \
            --from ${{ github.event.pull_request.base.sha }} \
            --to ${{ github.event.pull_request.head.sha }} \
            --config ./commitlint.json \
            --verbose
